{% extends 'base.html.twig' %}

{% block title %}Demande de réinitialisation de mot de passe{% endblock %}

{% block body %}

    <div class="login-background">

            {% if app.user %}
                <div class="logged-container">
                    Vous êtes connecté en tant que  <a href="#">{{ app.user.pseudo }}</a>.
                    {% for messages in app.flashes %}
                        {% for message in messages %}
                            <p>{{ message|raw }}</p>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% else %}

            <div class="login-container">

                <h4>Demande de réinitialisation de mot de passe</h4>

                {{ form_start(requestPassForm) }}
                <div class="input-box">
                    {{ form_row(requestPassForm.email) }}
                </div>
                
                <button type="submit" class="login-btn">Envoyer</button>

                {{ form_end(requestPassForm) }}
            </div>

            {% endif %}

    </div>
{% endblock %}
