{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}

    <div class="login-background">

            {% if app.user %}
                <div class="logged-container">
                    Vous êtes connecté en tant que  <a href="#">{{ app.user.pseudo }}</a>.
                    {% for messages in app.flashes %}
                        {% for message in messages %}
                            <p>{{ message|raw }}</p>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% else %}

            <div class="login-container">

                <h4>Réinitialisation de mot de passe</h4>

                {# {{ form_start(passForm) }}
                <div class="input-box">
                    {{ form_row(passForm.plainPassword) }}
                </div>
                
                <button type="submit" class="reset-password-btn">Envoyer</button>

                {{ form_end(passForm) }} #}

                {{ form_start(passForm) }}

                <div class="input-box">
                    {{ form_widget(passForm.plainPassword.first, {'attr': {'class': 'password-field'}}) }}
                    {{ form_errors(passForm.plainPassword.first) }}
                </div>

                <div class="input-box">
                    {{ form_widget(passForm.plainPassword.second, {'attr': {'class': 'password-field'}}) }}
                    {{ form_errors(passForm.plainPassword.second) }}
                </div>
                
                <!-- Submit Button -->
                <button type="submit" class="reset-password-btn">Envoyer</button>

                {{ form_end(passForm) }}

            </div>

            {% endif %}

    </div>
{% endblock %}
