{% extends 'base.html.twig' %}

{% block title %}Le club{% endblock %}

{% block body %}

<main class="background club-background">
    <section class="club-section">
        <div class="club-texte">
            <h2>Qui sommes-nous ?</h2>
            <p>
                Le <strong> Badminton Club Kriegsheim Rottelsheim </strong>(ou BCKR) a été fondé en 1996 et compte aujourd'hui près d'une soixantaine de membres.
                Uniquement composé de sportives et sportifs<strong> amateurs</strong>, se dépenser dans la <strong> bonne humeur </strong>est la seule chose requise pour intégrer le club ! <br>
                <strong>Tous les niveaux </strong>sont accueillis et ici tout le monde joue avec tout le monde grâce à un modèle de tirage au sort que vous n'avez jamais vu ailleurs.
                <br><br>
                En plus des <strong> entraînements</strong>, notre club propose d'autres <strong> activités</strong>, qu'elles soient basées sur le sport ou non.
                Cela va des rencontres sportives amicales avec d'autres clubs jusqu'à l'organisation grands repas dans la <strong>convivialité</strong>.
            </p>
        </div>
    </section>

    <div class="club-ligne-photos">
        <img src="{{ asset('img/club/apero.webp')}}" alt="photo d'un apéro">
        <img src="{{ asset('img/club/hand-shake.webp')}}" alt="photo d'une poignée de mains">
    </div>

    <section class="club-section">
        <div class="club-texte">
            <h2>Que proposons-nous ?</h2>
            <p>
                Vous cherchez une activité pour vous <strong>dépenser </strong>physiquement ? Dans une ambiance conviviale ? <br><br>

                Le <strong> BCKR </strong>est là ! <br><br>

                Chez nous, pas de prise de tête, tout le monde joue avec tout le monde, avec comme objectif principal de transpirer. <br><br>

                Il n’y a <strong> aucune contrainte </strong>de présence, il y en a qui viennent 2 fois par semaines, d’autres toutes les 2 semaines et certains 1 fois par mois. Libre à vous de choisir. <br><br>

                C’est un club <strong> amateur </strong>qui accueille tout le monde de 18 à 99 ans. Les mineurs peuvent éventuellement venir accompagnés d’un représentant légal. <br><br>

                La compétition cède sa place à la <strong> bonne ambiance </strong>chez nous, on se dépense tous ensemble ! Et les matchs sont décidés grâce à une méthode de <strong> tirage au sort </strong>unique !
            </p>
        </div>
    </section>

    <div class="club-ligne-photos">
        <img src="{{ asset('img/club/homme-smash.webp')}}" alt="photo d'une personne qui smash en sautant">
        <img src="{{ asset('img/club/fille-banc-badminton.webp')}}" alt="photo d'une fille sur un banc qui regarde un entraînement de badminton">
        <img src="{{ asset('img/club/terrain-badminton.webp')}}" alt="photo d'unun terrain de badminton">

    </div>
</main>

{% endblock %}