{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}

<main class="background contact-background">
    <div class="wrapper-contact">
        <h2>Contact</h2>
        <section class="texte-contact">
            <h4>Bienvenue sur le site du BCKR</h4>
            <p>
                Vous avez des questions, vous voulez faire une suggestion,
                <br>
                ou vous souhaitez simplement nous écrire ?
            </p>
            
            <p class="bold">
                N'hésitez pas !
            </p>
            <p class="underline">
                Contactez nous en remplissant le formulaire ci-dessous.
            </p>
        </section>
        
        <section class="form-contact">
            {{ form_start(form) }}
                {{ form_widget(form.expediteur) }}
                {{ form_widget(form.message) }}
                {{ form_widget(form.valider) }}
            {{ form_end(form) }}
        </section>
    </div>


</main>

{% endblock %}