{% extends 'base.html.twig' %}

{% block title %}Le club{% endblock %}

{% block body %}

<main class="background page-entrainement-background">
    <div class="separation-parallaxe">
        <h2>Les entraînements chez nous</h2>
    </div>

    <section class="photos-entrainement">
        <img class="img-entrainement" src="{{ asset('img/entrainement/hand-shake.webp')}}" alt="">
        <img class="img-entrainement" src="{{ asset('img/entrainement/rattrapage-amorti.webp')}}" alt="">
        <img class="img-entrainement" src="{{ asset('img/entrainement/volant-sur-ligne.webp')}}" alt="">
        <img class="img-entrainement" src="{{ asset('img/entrainement/pret-pour-entrainement.webp')}}" alt="">
    </section>

    <div class="separation-parallaxe">

    </div>

    <section class="infos-entrainement">
        <div class="box-infos">
            <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M16.6667 31.6667C16.6667 20.3124 26.6998 9.99999 40 9.99999C53.3003 9.99999 63.3333 20.3124 63.3333 31.6667C63.3333 38.8163 58.959 46.802 53.202 54.2037C48.6523 60.0533 43.591 65.1097 40 68.648C36.409 65.1097 31.3476 60.0533 26.7978 54.2037C21.041 46.802 16.6667 38.8163 16.6667 31.6667ZM40 3.33333C23.3002 3.33333 10 16.3543 10 31.6667C10 41.1837 15.6257 50.698 21.5355 58.2963C26.6496 64.8717 32.398 70.5247 35.991 74.0577C36.6103 74.667 37.166 75.2133 37.643 75.6903C38.268 76.3153 39.116 76.6667 40 76.6667C40.884 76.6667 41.732 76.3153 42.357 75.6903C42.834 75.2133 43.3897 74.667 44.009 74.058C47.6017 70.5247 53.3503 64.8717 58.4647 58.2963C64.3743 50.698 70 41.1837 70 31.6667C70 16.3543 56.6997 3.33333 40 3.33333ZM40 41.6667C44.6023 41.6667 48.3333 37.9357 48.3333 33.3333C48.3333 28.731 44.6023 25 40 25C35.3977 25 31.6667 28.731 31.6667 33.3333C31.6667 37.9357 35.3977 41.6667 40 41.6667Z" fill="black"/>
            </svg>
            <p>
                Gymnase de Krigsheim, <br>
                17 rue de Rottelsheim
            </p>
        </div>
        <div class="box-infos">
            <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M76.6668 40C76.6668 60.2503 60.2505 76.6667 40.0002 76.6667C19.7497 76.6667 3.3335 60.2503 3.3335 40C3.3335 19.7496 19.7497 3.33333 40.0002 3.33333C60.2505 3.33333 76.6668 19.7496 76.6668 40ZM10.0229 40C10.0229 56.556 23.4442 69.9773 40.0002 69.9773C56.5562 69.9773 69.9775 56.556 69.9775 40C69.9775 23.444 56.5562 10.0228 40.0002 10.0228C23.4442 10.0228 10.0229 23.444 10.0229 40Z" fill="black"/>
                <path d="M39.9998 16.6667C38.1588 16.6667 36.6665 18.159 36.6665 20V41.5557C36.6665 41.5557 36.6665 42.4247 37.0888 43.0783C37.3715 43.6327 37.8122 44.1143 38.3912 44.4487L53.7905 53.3397C55.3848 54.26 57.4235 53.7137 58.3438 52.1193C59.2642 50.525 58.7182 48.4863 57.1238 47.566L43.3332 39.604V20C43.3332 18.1591 41.8408 16.6667 39.9998 16.6667Z" fill="black"/>
            </svg>
            <p>
                Tous les mardis et vendredis <br>
                à partir de 20h30
            </p>
        </div>
        <div class="box-infos">
            <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M36.4875 4.16667H43.5122C47.2882 4.16661 50.3742 4.16654 52.8102 4.49407C55.3568 4.83644 57.5645 5.57737 59.3268 7.33967C61.0892 9.10201 61.8302 11.3098 62.1725 13.8563C62.3408 15.1086 62.4225 16.5326 62.4625 18.1338C65.9898 18.7029 68.8805 19.8231 71.1958 22.1381C73.6902 24.6327 74.7972 27.7958 75.3228 31.7039C75.8332 35.5013 75.8332 40.3533 75.8332 46.4793V46.8553C75.8332 52.9813 75.8332 57.8333 75.3228 61.6307C74.7972 65.5387 73.6902 68.702 71.1958 71.1967C68.7012 73.691 65.5378 74.798 61.6298 75.3237C57.8325 75.834 52.9805 75.834 46.8545 75.834H33.1451C27.0193 75.834 22.1671 75.834 18.3698 75.3237C14.4617 74.798 11.2985 73.691 8.80397 71.1967C6.30944 68.702 5.20237 65.5387 4.67697 61.6307C4.16641 57.8333 4.16644 52.9813 4.16651 46.8553V46.4793C4.16644 40.3533 4.16641 35.5013 4.67697 31.7039C5.20237 27.7958 6.30944 24.6327 8.80397 22.1381C11.119 19.8231 14.0099 18.7029 17.5373 18.1338C17.577 16.5326 17.6589 15.1086 17.8272 13.8563C18.1696 11.3098 18.9105 9.10201 20.6728 7.33967C22.4352 5.57737 24.6429 4.83644 27.1895 4.49407C29.6257 4.16654 32.7114 4.16661 36.4875 4.16667ZM17.4998 23.2204C15.0632 23.7096 13.519 24.4942 12.3395 25.6737C10.9288 27.0844 10.0832 29.0165 9.63237 32.3701C9.17181 35.7957 9.16651 40.3113 9.16651 46.6673C9.16651 53.0233 9.17181 57.539 9.63237 60.9643C10.0832 64.318 10.9288 66.2503 12.3395 67.661C13.7502 69.0717 15.6824 69.9173 19.036 70.368C22.4615 70.8287 26.9771 70.834 33.3332 70.834H46.6665C53.0225 70.834 57.5382 70.8287 60.9638 70.368C64.3172 69.9173 66.2495 69.0717 67.6602 67.661C69.0708 66.2503 69.9165 64.318 70.3672 60.9643C70.8278 57.539 70.8332 53.0233 70.8332 46.6673C70.8332 40.3113 70.8278 35.7957 70.3672 32.3701C69.9165 29.0165 69.0708 27.0844 67.6602 25.6737C66.4808 24.4942 64.9365 23.7096 62.4998 23.2204V27.0883C62.4998 27.2421 62.4998 27.3941 62.5002 27.5442C62.5028 30.1644 62.5052 32.2398 61.6345 34.099C60.7635 35.958 59.1678 37.285 57.1532 38.9603C57.0378 39.0563 56.9208 39.1533 56.8028 39.252L54.2788 41.3553C51.3242 43.8173 48.9295 45.813 46.8158 47.1723C44.6142 48.5883 42.4702 49.483 39.9998 49.483C37.5295 49.483 35.3855 48.5883 33.1838 47.1723C31.0702 45.813 28.6756 43.8173 25.7211 41.3553L23.1969 39.252C23.0788 39.1533 22.962 39.0563 22.8465 38.9603C20.8318 37.285 19.236 35.958 18.3653 34.099C17.4945 32.2398 17.4967 30.1644 17.4995 27.5442C17.4997 27.3941 17.4998 27.2421 17.4998 27.0883V23.2204ZM27.8557 9.44947C25.8636 9.71731 24.8868 10.1967 24.2084 10.8752C23.5299 11.5537 23.0505 12.5305 22.7826 14.5225C22.5051 16.5865 22.4998 19.3343 22.4998 23.3333V27.0883C22.4998 30.3927 22.5551 31.2562 22.8932 31.9782C23.2314 32.7001 23.8594 33.2953 26.3978 35.4107L28.7966 37.4097C31.9065 40.0013 34.0655 41.7947 35.8885 42.967C37.6528 44.102 38.8495 44.483 39.9998 44.483C41.1502 44.483 42.3468 44.102 44.1112 42.967C45.9342 41.7947 48.0932 40.0013 51.2032 37.4097L53.6018 35.4107C56.1402 33.2953 56.7682 32.7001 57.1065 31.9782C57.4445 31.2562 57.4998 30.3927 57.4998 27.0883V23.3333C57.4998 19.3343 57.4945 16.5865 57.2172 14.5225C56.9492 12.5305 56.4698 11.5537 55.7912 10.8752C55.1128 10.1967 54.1362 9.71731 52.1438 9.44947C50.0802 9.17197 47.3322 9.16667 43.3332 9.16667H36.6665C32.6675 9.16667 29.9197 9.17197 27.8557 9.44947ZM30.8332 20C30.8332 18.6193 31.9525 17.5 33.3332 17.5H46.6665C48.0472 17.5 49.1665 18.6193 49.1665 20C49.1665 21.3807 48.0472 22.5 46.6665 22.5H33.3332C31.9525 22.5 30.8332 21.3807 30.8332 20ZM34.1665 30C34.1665 28.6193 35.2858 27.5 36.6665 27.5H43.3332C44.7138 27.5 45.8332 28.6193 45.8332 30C45.8332 31.3807 44.7138 32.5 43.3332 32.5H36.6665C35.2858 32.5 34.1665 31.3807 34.1665 30Z" fill="black"/>
            </svg>
            <p>
                Ouvert aux adhérants<br>
                ou aux nouveaux venus <br>
                souhaitant faire <br>
                un essai
                
            </p>
        </div>
        <div class="box-infos">
            <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_79_92)">
                <path d="M58.8568 27.8175C55.6243 30.2846 52.1965 32.4089 48.6872 34.4241C47.4021 33.2251 45.6698 32.6471 43.6777 33.1805C41.8362 33.6739 40.1392 35.3786 39.6289 37.3123C37.4123 37.5952 35.185 37.8319 32.9593 38.0302C32.7364 34.7284 32.784 31.3221 33.6325 28.1987C34.355 25.5456 31.605 24.0054 29.6298 24.7155L26.5725 14.9117C29.6667 13.5498 31.1931 9.58401 29.988 5.72273C28.7075 1.62013 24.8278 -0.830058 21.3355 0.258231C17.8446 1.34652 16.0462 5.57056 17.3251 9.67316C18.541 13.5683 22.1025 15.9693 25.4473 15.2683L28.6046 25.3903C28.3094 25.7085 28.0712 26.1097 27.9298 26.6262C26.6632 31.2914 26.8169 36.4346 27.3334 41.2105C27.4948 42.7153 28.5554 44.2955 30.2893 44.1679C33.8093 43.9051 37.3216 43.5316 40.8232 43.075C42.1882 47.585 42.6401 52.1333 42.1113 56.9092C39.2446 58.474 36.0335 58.9182 32.7502 58.3449C28.0912 57.5287 26.0975 64.6533 30.7842 65.4726C35.4817 66.2949 40.256 66.0106 44.5169 63.9985C42.7938 68.4454 39.1693 71.3444 33.7124 72.7401C29.0949 73.9191 31.0547 81.0422 35.6754 79.8693C46.4829 77.1133 52.5961 69.2309 53.0619 58.1697C53.0849 58.0467 53.1034 57.9268 53.1218 57.8023C53.9288 51.7152 53.2817 45.5206 51.3956 39.6979C55.0033 37.6351 58.5294 35.4662 61.8404 32.9315C64.8271 30.6396 61.8881 25.501 58.8568 27.8175ZM18.3673 9.34883C17.2636 5.82265 18.7439 2.21039 21.6613 1.30041C24.5804 0.390424 27.8498 2.51935 28.9489 6.04861C30.0495 9.57632 28.5692 13.187 25.6533 14.0986C22.7327 15.0085 19.4663 12.8765 18.3673 9.34883Z" fill="black"/>
                <path d="M45.0717 31.9139C48.6092 31.9139 51.477 29.0462 51.477 25.5087C51.477 21.9712 48.6092 19.1035 45.0717 19.1035C41.5342 19.1035 38.6665 21.9712 38.6665 25.5087C38.6665 29.0462 41.5342 31.9139 45.0717 31.9139Z" fill="black"/>
                <path d="M59.6087 6.3714L53.6938 8.21903V10.431L59.6087 11.9097V6.3714Z" fill="black"/>
                </g>
                <defs>
                <clipPath id="clip0_79_92">
                <rect width="80" height="80" fill="black"/>
                </clipPath>
                </defs>
            </svg>
            <p>
                Tous les niveaux sont accueillis <br>
                débutant comme confirmé, <br>
                ici nous jouons en loisir !
            </p>
        </div>
    </section>

    <div class="separation-parallaxe">
    </div>
    
    <section class="entrainement-infos-complementaires">
        <h3>À savoir</h3>
        <div class="texte-img-horizontal">
            <p>
                Notre club est composé de sportives et sportifs <strong>amateurs</strong>, nous tirons les équipes au sort (avec un système particulièrement unique) et tout le monde joue avec tout le monde ! <br><br>
                Seule votre <strong>bonne humeur</strong> est requise !
            </p>
            <img class="img-entrainement" src="{{ asset('img/entrainement/fille-carton-gymnase.webp')}}" alt="">
        </div>
    </section>

    <div class="separation-parallaxe">
    </div>
    
    <section class="entrainement-infos-complementaires">
        <h3>Informations complémentaires</h3>
        <div class="texte-img-horizontal">
            <img class="img-entrainement" src="{{ asset('img/entrainement/gymnase.webp')}}" alt="">
            <p>
                La licence comprend  salle chauffée, vestiaires avec douche, volants et filets ainsi qu’un repas de Noël. <br><br>
                Possibilité de venir essayer jusqu’à 3 séances <strong>gratuitement</strong>. <br><br>
                Pour les éventuels nouveaux qui souhaitent essayer, une raquette pourra être prêtée. <br><br>
                Une tenue adaptée et des chaussures de sport propres sont les seules choses requises.
            </p>
        </div>
    </section>
    <div class="separation-parallaxe">
    </div>
</main>

{% endblock %}