{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<main class=" background homepage-background">
    <div class="wrapper">
        <section class="titre-homepage">
            <h1>Badminton Club<br>Kriegsheim Rottelsheim</h1>
            {# <div class="annonce">
                <p class="alerte-accueil"> {{ afficher message important ici }} </p>
            </div> #}
        </section>
        <div class="wrapper-cta">
            <i class="fa-solid fa-angles-right"></i>
            <a onclick="checker()" href="{{ path('app_register') }}" class="homepage-rejoindre-btn">
                Rejoignez-nous !
            </a>
            <i class="fa-solid fa-angles-left"></i>
        </div>
        
        <section class="club">
            <article class="card-club">
                <img class="club-img" src="{{ asset('img/homepage/le-club1.webp')}}" alt="photo du président du club faisant un discours">
                <div class="titre-texte">
                    <a href=" {{ path('club_home') }} "><h2>Le club</h2></a>
                    <p>
                        Le badminton club de Kriegsheim-Rottelsheim a été fondé en 1996, il propose des séances de <strong>badminton en loisir</strong> et compte actuellement une soixantaine de membres.
                    </p>
                    <p>
                        {# Chez nous, pas de prise de tête, tout le monde joue avec tout le monde, avec comme objectif principal de transpirer.
                        <br> #}
                        Uniquement dotés de sportives et sportifs amateurs, la <strong>bonne ambiance</strong> et  la bonne humeur sont les premières qualités recherchées pour les futurs  nouveaux membres.
                    </p>
                    <p>                       
                        <strong>Mouiller le maillot est notre devise !</strong>
                    </p>
                </div>
            </article>
            <article class="card-club">
                <img class="club-img" src="{{ asset('img/homepage/le-club2.webp')}}" alt="photo d'un entraînement du club">
                <div class="titre-texte">
                    <a href=" {{ path('entrainements_home') }} "><h2>Les entraînements</h2></a>
                    
                        <p>
                            Accueillant des joueurs de tout niveau, les entraînements sont sans prises de têtes avec des équipes <strong>tirées au sort</strong> avec une méthode de tirage absolument unique et totalement impartial !
                        </p>
                        <p>
                            <strong>Venez essayer gratuitement</strong>, c’est le meilleur moyen de vous faire votre propre avis !
                            <br>
                            Les entraînements commencent à 20h30 mais ne se terminent qu’à l’épuisement (ou l’apéro selon les envies).
                        </p>
                </div>
            </article>
            <article class="card-club">
                <img class="club-img" src="{{ asset('img/homepage/le-club3.webp')}}" alt="photo d'un membre du club faisant une très grande paëlla">
                <div class="titre-texte">
                    <a href=" {{ path('app_evenement') }} "><h2>Autres activités</h2></a>
                    <p>
                        En plus des entraînements, le club est à l’initiative de divers événements tels que des <strong>tournois amicaux</strong> internes ou externes, des <strong>repas</strong> ou des <strong>marches</strong> en groupe.
                        <br>
                        <br>
                        Toujours dans une <strong>ambiance chaleureuse</strong> et dans le but de passer des bons moments.
                    </p>
                </div>
            </article>
        </section>

        <section class="evenement-a-venir">
            <a href=" {{ path('app_evenement') }} "><h2>Événements à venir</h2></a>
            {% if pagination|length >= 1 %}
                <div class="evenement-wrapper">
                    {% for evenement in pagination %}
                        <div class="card-evenement">
                            <div class="affiche-event">
                                {% if evenement.affiche %}
                                <img src="{{ asset('/uploads/afficheEvenement/'~evenement.affiche) }} " alt="Affiche de l'événement">
                                {% else %}
                                    <img src="{{ asset('img/homepage/le-club3.webp')}}" alt="Photo d'une rencontre sportive">
                                {% endif %}
                            </div>
                            <div class="evenement-card-content">
                                <div class="evenement-card-titre">
                                    <h5>
                                        <a href=" {{ path('show_evenement', {'id': evenement.id}) }} ">
                                            {{ evenement.titre }}
                                        </a>
                                    </h5>
                                </div>
                                <p>
                                    Début : {{ evenement.dateDebutFormatee }} à {{ evenement.heureDebutFormatee }}
                                    <br>
                                    Fin : {{ evenement.dateFinFormatee }} à {{ evenement.heureFinFormatee }}
                                </p>
                                <p class="evenement-card-description">
                                    {{ evenement.description }}
                                </p>
                            </div>
                            <div class="evenement-card-bottom">
                                <div class="evenement-card-infos">
                                    <a href=" {{ path('show_evenement', {'id': evenement.id}) }} ">
                                        En savoir plus <i class="fa-solid fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="no-evenement-wrapper">
                    <p>
                        Aucun événement prévu pour le moment. 
                        <br><br>
                        Revenez plus tard !
                    </p>
                </div>
            {% endif %}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </section>

        {# <section class="photos-entrainement">
            <img class="img-entrainement" src="{{ asset('img/entrainement/hand-shake.webp')}}" alt="">
            <img class="img-entrainement" src="{{ asset('img/entrainement/rattrapage-amorti.webp')}}" alt="">
            <img class="img-entrainement" src="{{ asset('img/entrainement/volant-sur-ligne.webp')}}" alt="">
            <img class="img-entrainement" src="{{ asset('img/entrainement/pret-pour-entrainement.webp')}}" alt="">
        </section> #}

        <section class="creative-carousal--hero">
            <div class="carousel-slider swiper-container-horizontal">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" data-background="{{ asset('img/entrainement/rattrapage-amorti.webp')}}" style="background-image: url('{{ asset("img/entrainement/rattrapage-amorti.webp") }}');">
                        <div class="inner"><h2>S'entraîner</h2> 
                            <a href="#"></a>
                        </div>
                    </div>
                    <div class="swiper-slide" data-background="{{ asset('img/entrainement/hand-shake.webp')}}" style="background-image: url('{{ asset("img/entrainement/hand-shake.webp") }}');">
                        <div class="inner"><h2>S'entendre</h2> 
                            <a href="#"></a>
                        </div>
                    </div>
                    <div class="swiper-slide" data-background="{{ asset('img/entrainement/volant-sur-ligne.webp')}}" style="background-image: url('{{ asset("img/entrainement/volant-sur-ligne.webp") }}');">
                        <div class="inner"><h2>Se dépenser</h2> 
                            <a href="#"></a>
                        </div>
                    </div>
                    <div class="swiper-slide" data-background="{{ asset('img/entrainement/pret-pour-entrainement.webp')}}" style="background-image: url('{{ asset("img/entrainement/pret-pour-entrainement.webp") }}');">
                        <div class="inner"><h2>Partager</h2> 
                            <a href="#"></a>
                        </div>
                    </div>
                    <div class="swiper-slide" data-background="{{ asset('img/entrainement/rattrapage-amorti.webp')}}" style="background-image: url('{{ asset("img/entrainement/service.webp") }}');">
                        <div class="inner"><h2>Progresser</h2> 
                            <a href="#"></a>
                        </div>
                    </div>
                </div>

                <!-- End Of Swiper -->
                <div class="slide-progress"> 
                    <span>01</span>
                    <div class="swiper-pagination swiper-pagination-progressbar"><span class="swiper-pagination-progressbar-fill"></span></div>
                    <span>05</span> 
                </div>
                <!-- end of progress -->
                <div class="swiper-button-prev">PREV</div>
                <!-- end button-prev -->
                <div class="swiper-button-next">NEXT</div>
                <!-- end button-next -->
            </div>
        </section>
        
    </div>
</main>

{% endblock %}
