{% extends 'base.html.twig' %}

{% block title %}Enregistrement{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

<div class="formulaire-background">
    <h4>S'inscrire</h4>

    {{ form_errors(registrationForm) }}
    <div class="formulaire">

        {{ form_start(registrationForm) }}
        
        <div class="row-form">
            {{ form_row(registrationForm.email) }}
        </div>

        <div class="row-form">
            {{ form_row(registrationForm.pseudo) }}
        </div>

        <div class="row-form">
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
        </div>

        <div class="row-form">
            {{ form_row(registrationForm.agreeTerms) }}
        </div>

        <button type="submit" class="btn">Register</button>
        
        {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}
