{% extends 'base.html.twig' %}

{% block title %}Détails membre{% endblock %}

{% block body %}
<div class="membre-container">
    <h4>Détails de {{ membre.prenom }} {{ membre.nom }}</h4>

    <p>
        Nom : {{ membre.nom }} <br>
        Prénom : {{ membre.prenom }} <br>

        Numéro de Licence : {{ membre.numLicence ? membre.numLicence : 'Non renseigné' }} <br>
        Date d'Inscription : {{ membre.dateInscription ? membre.dateInscription|date('d/m/Y') : 'Non renseigné' }} <br>
        Numéro de Téléphone : {{ membre.numTelephone ? membre.numTelephone : 'Non renseigné' }} <br>
        Adresse : {{ membre.adresse ? membre.adresse : 'Non renseigné' }} <br>
        Ville : {{ membre.ville ? membre.ville : 'Non renseigné' }} <br>
        Code Postal : {{ membre.cp ? membre.cp : 'Non renseigné' }} <br>
        Date de Naissance : {{ membre.dateNaissance ? membre.dateNaissance|date('d/m/Y') : 'Non renseigné' }} <br>

        {% if membre.photo %}
            Photo : <img src="{{ asset('uploads/photos/' ~ membre.photo) }}" alt="Photo de {{ membre.prenom }} {{ membre.nom }}"> <br>
        {% else %}
            Photo : N/A <br>
        {% endif %}
    </p>

</div>
{% endblock %}



    {# <p>Date d'inscription : {{ membre.dateInscriptionFormatee}}</p> #}