{% extends 'base.html.twig' %}

{% block title %}Liste des événements{% endblock %}

{% block body %}

<div class="liste-evenement-background">
    <h2>Événements à venir</h2>
    <section class="evenement-a-venir">
        <div class="evenement-wrapper">
            
            {% for evenement in pagination %}
                <div class="card-evenement">
                    <div class="evenement-card-top">
                        <div class="affiche-event">
                            {% if evenement.affiche %}
                                <img src="{{ asset('/uploads/afficheEvenement/'~evenement.affiche) }} " alt="Affiche de l'événement">
                            {% else %}
                                <img src="{{ asset('img/affiche-event/affiche-defaut.jpg')}}" alt="Photo d'une rencontre sportive">
                            {% endif %}
                        </div>
                        <div class="evenement-infos">
                            <h5> <a href=" {{ path('show_evenement', {'id': evenement.id}) }} "> {{ evenement.titre }}</a></h5>
                            <div class="date-event">Début : {{ evenement.dateDebutFormatee }} à {{ evenement.heureDebutFormatee }}</div>
                            <div class="date-event">Fin : {{ evenement.dateFinFormatee }} à {{ evenement.heureFinFormatee }}</div>
                            <p class="descr-event">{{ evenement.description }}</p>
                            
                        </div>
                    </div>
                    
                    {# ========== fonction participation ========== #}
                    {% if app.user %}
                        <div class="evenement-form">
                            {% if app.user.estCeQueParticipeDeja(evenement)  %}
                                {{ form_start(formsDel[evenement.id]) }}
                                <div class="bouton">
                                    {{ form_widget(formsDel[evenement.id].valider) }}
                                </div>
                                {{ form_end(formsDel[evenement.id]) }}
                            {% else %}
                                {{ form_start(formsAdd[evenement.id]) }}
                                <div class="nbr-participants-form">
                                    {{ form_row(formsAdd[evenement.id].nbrParticipants) }}
                                </div>
                                    {{ form_widget(formsAdd[evenement.id].valider) }}
                                {{ form_end(formsAdd[evenement.id]) }}
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if evenement.contenu|length < 15 %}
                        <p class="evenement-descr">A propos de l'événement :<br>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis doloribus quo totam earum omnis. Inventore perspiciatis possimus ipsum soluta itaque similique eveniet, maiores reiciendis alias velit. Reprehenderit minus quibusdam cum autem.</p>
                    {% else %}
                        <p class="evenement-descr">A propos de l'événement :<br>
                            {{ evenement.contenu }}
                        </p>
                    {% endif %}

                    {# ========== delete / edit ========== #}
                    {% if app.user  and app.user.isAdmin() %}
                        <div class="suppr-edit-btn">
                            <a class="btn-editer" href="{{ path('edit_evenement', {'id': evenement.id}) }}">Éditer</a>
                            <a class="btn-supprimer" href="{{ path('suppr_evenement', {'id': evenement.id}) }}">Supprimer</a>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </section>
</div>
{% endblock %}