{% extends 'base.html.twig' %}

{% block title %}Liste des événements{% endblock %}

{% block body %}

<main class=" background liste-evenement-background">
    <h2>Événements à venir</h2>
    <div class="evenement-recherche">
        {% if app.user %}
            {% if app.user.isAdmin() %}
                <a class="btn-clair" href=" {{ path('new_evenement') }} ">Ajouter événement</a>
            {% endif %}
        {% endif %}
        <div class="evenement-form-recherche">
            {{ form_start(formSearch) }}
                {{ form_widget(formSearch.recherche) }}
                {{ form_widget(formSearch.valider) }}
                <a href="{{ path('app_evenement') }}"><i class="fa-solid fa-arrow-rotate-left"></i></a>
            {{ form_end(formSearch) }}
        </div>
    </div>
    <section class="evenement-a-venir">
        <div class="evenement-wrapper">
            {% for evenement in pagination %}
                {% if evenement.visibilite == 'admins' %}
                    <div class="card-evenement card-admin">
                {% elseif evenement.visibilite == 'membres' %}
                    <div class="card-evenement card-membre">
                {% else %}
                    <div class="card-evenement">
                {% endif %}
                    <div class="evenement-card-top">
                        <a href=" {{ path('show_evenement', {'id': evenement.id}) }} ">
                        {% if evenement.visibilite == 'membres' %}
                            <div class="visib-evenement-membre">
                                Membres <i class="fa-solid fa-lock"></i>
                            </div>
                        {% elseif evenement.visibilite == 'admins' %}
                            <div class="visib-evenement-admin">
                                Comité <i class="fa-solid fa-lock"></i>
                            </div>
                        {% endif %}
                        <div class="affiche-event">
                            {% if evenement.affiche %}
                                <img src="{{ asset('/uploads/afficheEvenement/'~evenement.affiche) }} " alt="Affiche de l'événement">
                            {% else %}
                                <img src="{{ asset('img/affiche-event/affiche-defaut.webp')}}" alt="Photo d'une rencontre sportive">
                            {% endif %}
                        </div>
                        <div class="evenement-card-content">
                            <div class="evenement-card-titre">
                                <h5>
                                    {{ evenement.titre }}
                                </h5>
                            </div>
                            <p class="text-italic">
                                Début : {{ evenement.dateDebutFormatee }} à {{ evenement.heureDebutFormatee }}
                                <br>
                                Fin : {{ evenement.dateFinFormatee }} à {{ evenement.heureFinFormatee }}
                            </p>
                            <p class="evenement-card-description">
                                {{ evenement.description }}
                            </p>
                        </div>
                        </a>
                    </div>
                    
                    {# ========== fonction participation ========== #}
                    {% if app.user %}
                        <div class="evenement-form">
                            {% if app.user.estCeQueParticipeDeja(evenement)  %}
                                {{ form_start(formsDel[evenement.id]) }}
                                <div class="bouton">
                                    {{ form_widget(formsDel[evenement.id].valider) }}
                                </div>
                                {{ form_end(formsDel[evenement.id]) }}
                            {% else %}
                                {{ form_start(formsAdd[evenement.id]) }}
                                <div class="nbr-participants-form">
                                    {{ form_row(formsAdd[evenement.id].nbrParticipants) }}
                                </div>
                                    {{ form_widget(formsAdd[evenement.id].valider) }}
                                {{ form_end(formsAdd[evenement.id]) }}
                            {% endif %}
                        </div>
                    {% endif %}

                    {# ========== delete / edit ========== #}
                    {% if app.user  and app.user.isAdmin() %}
                        <div class="suppr-edit-btns">
                            <a class="btn-editer-evenement" href="{{ path('edit_evenement', {'id': evenement.id}) }}">Éditer</a>
                            <a onclick="checker()" class="btn-supprimer-evenement" href="{{ path('suppr_evenement', {'id': evenement.id}) }}">Supprimer</a>
                        </div>
                    {% else %}
                        <div class="evenement-card-infos">
                            <a href=" {{ path('show_evenement', {'id': evenement.id}) }} ">
                                En savoir plus <i class="fa-solid fa-arrow-right"></i>
                            </a>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </section>
</main>
{% endblock %}