{% extends 'base.html.twig' %}

{% block title %}
    {% if app.user  and app.user.isAdmin() %}
        Ajouter un événement
    {% else %}
        Page introuvable
    {% endif %}
{% endblock %}


{% block body %}

{% if app.user  and app.user.isAdmin() %}
    <main class="background formulaire-background">
            {% if edit %}
                <h2>Modifier un événement</h2>
            {% else %}
                <h2>Créer un événement</h2>
            {% endif %}


        <section class="formulaire">
            {{ form_start(formAddEvenement) }}
            <div class="categorie-formulaire">
                <div class="row-formulaire">
                    {{ form_row(formAddEvenement.titre) }}    
                </div>
                <div class="row-formulaire">
                    <div class="column-formulaire">
                        {{ form_row(formAddEvenement.dateDebut) }}
                    </div>
                    <div class="column-formulaire">
                        {{ form_row(formAddEvenement.dateFin) }}
                    </div>
                </div>
                <div class="column-formulaire">
                    {{ form_row(formAddEvenement.affiche) }}
                </div>
            </div>
            <div class="categorie-formulaire">
                {{ form_row(formAddEvenement.places) }}    
                {{ form_row(formAddEvenement.description) }}
                {{ form_row(formAddEvenement.contenu) }}
                {{ form_row(formAddEvenement.visibilite) }}
            </div>
                    
            <div onclick="checker()">
                {{ form_end(formAddEvenement) }}
            </div>
        </section>

    </main>
{% else %}
    <div class="error">
        Page introuvable
    </div>
{% endif %}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/dateFinEvent.js') }}"></script>
{% endblock %}