{% extends 'base.html.twig' %}

{% block title %}
    {% if app.user  and app.user.isAdmin() %}
        Ajouter un événement
    {% else %}
        Page introuvable
    {% endif %}
{% endblock %}


{% block body %}

{% if app.user  and app.user.isAdmin() %}
    <main class="background evenement-formulaire-background">
        <div class="evenement-haut">
            {% if edit %}
                <h2>Modifier un événement</h2>
            {% else %}
                <h2>Créer un événement</h2>
            {% endif %}
        </div>


        <section class="formulaire">
            {{ form_start(formAddEvenement) }}
                    {{ form_row(formAddEvenement.titre) }}    
                    {{ form_row(formAddEvenement.places) }}    
                {{ form_row(formAddEvenement.description) }}
                    {{ form_row(formAddEvenement.contenu) }}
                    {{ form_row(formAddEvenement.dateDebut) }}
                    {{ form_row(formAddEvenement.dateFin) }}
                    {{ form_row(formAddEvenement.affiche) }}
                    {{ form_row(formAddEvenement.visibilite) }}
                    
            <div onclick="checker()" class="bouton">
                {{ form_end(formAddEvenement) }}
            </div>
        </section>

    </main>
{% else %}
    <div class="error">
        Page introuvable
    </div>
{% endif %}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/dateFinEvent.js') }}"></script>
{% endblock %}