{% extends 'base.html.twig' %}

{% block title %}Détails événement{% endblock %}

{% block body %}

<main class="background detail-evenement-background">

    {# ============= section informations ============= #}

    <section class="detail-evenement-infos">
        <div class="detail-evenement-card">
            <h3>{{ evenement.titre }}</h3>

            <article>
                <p>
                    Date de début : {{ evenement.dateDebutFormatee }} à {{ evenement.heureDebutFormatee }} <br>
                    Date de fin : {{ evenement.dateFinFormatee }} à {{ evenement.heureFinFormatee }}
                </p>

                {% if app.user and app.user.isAdmin() %}
                    <p>
                        Visible par : {{ evenement.visibilite }}
                    </p>
                {% endif %}

                <p>
                    {{ evenement.description }}
                </p>
                <p>
                    {{ evenement.contenu }}
                </p>
            </article>
        </div>

        <div class="detail-evenement-affiche">
            {% if evenement.affiche %}
                <img src="{{ asset('/uploads/afficheEvenement/'~evenement.affiche) }} " alt="Affiche de l'événement">
            {% else %}
                <img src="{{ asset('img/affiche-event/affiche-defaut.webp')}}" alt="Photo d'une rencontre sportive">
            {% endif %}
        </div>
    </section>
    
    {# ============= section participation ============= #}

    <section class="detail-evenement-participation">
        
        <div class="detail-evenement-nbrParticipations">
            <h4>Participants</h4>
            <p>
                {{ evenement.getTotalParticipants() }} / {{ evenement.places }} places prises.
            </p>
        </div>

        <div class="detail-evenement-inscrits">
            {% if evenement.participationsEvenement|length == 0 %}
                <p>Aucun inscrit pour le moment</p>
            {% else %}
                {% if app.user %}
                    {% for participant in evenement.participationsEvenement %}
                        <p>
                            {{ participant.userInscrit.pseudo }} => {{ participant.nbrParticipants }} personne(s)
                        </p>
                    {% endfor %}
                {% endif %}
            {% endif %}
        </div>
    </section>

    {# ============= section photos événement ============= #}

    {% if app.user and app.user.estCeQueParticipeDeja(evenement) and evenement.imagesEvenement|length > 0 %}
        <section class="detail-evenement-galerie">
            <h3>Photos de l'événement :</h3>
            <div class="detail-evenement-photos">
                {% for photo in evenement.imagesEvenement %}
                    <div class="detail-evenement-photo">
                        <img src="{{ asset('/images/photoDEvenement/'~photo) }} " alt="Photo prise lors de l'événement">
                        <a class="download-btn" href="{{ vich_uploader_asset(photo, 'imageFile') }}" download="{{ photo.name }}">Télécharger cette image</a>
                    </div>
                {% endfor %}
            </div>
        </section>
    {% endif %}

    {# ============= section commentaires ============= #}

    <section class="detail-evenement-commentaires">
        <h4>Commentaires</h4>
        {% if app.user %}
            {% if evenement.commentaires | length > 0 %}
                {% for commentaire in evenement.commentaires %}
                    <div class="detail-evenement-card-commentaire">
                        <p>
                            {{ commentaire.poste.pseudo }} ({{ commentaire.datePoste|date('d/m/Y H:i') }}):
                        </p>
                        <p>
                            {{ commentaire.message }}
                        </p>
                        {% if app.user.isAdmin() %}
                            <a class="btn-supprimer" href="{{ path('suppr_commentaire', {'id': commentaire.id}) }}">Supprimer</a>
                        {% endif %}
                    </div>
                {% endfor %}
            {% else %}
                    <p>Soyez le premier à commenter !</p>
            {% endif %}

            {# ============= formulaire commentaire ============= #}
            
            <h5>Laissez un commentaire !</h5>
            <div class="detail-evenement-commentaire-form">
                {{ form_start(formAddCommentaire) }}
                {{ form_row(formAddCommentaire.message) }}    
                {{ form_row(formAddCommentaire.valider) }}    
                {{ form_end(formAddCommentaire) }}
            </div>
        </section> 
    {% else %}
            <p>
                Connectez-vous pour laisser un commentaire !
            </p>
        </section> 
    {% endif %}
</main>

{% endblock %}