{% extends 'base.html.twig' %}

{% block title %}Détails événement{% endblock %}

{% block body %}

{# ============= version tous ============= #}

<div class="det-evenement-background">

    <h4>Détails de l'événement : {{ evenement.titre }}</h4>

    <p>
        Description : <br>
        {{ evenement.description }}</p>

    <p>
        Date de début : {{ evenement.dateDebutFormatee }} à {{ evenement.heureDebutFormatee }} <br>
        Date de fin : {{ evenement.dateFinFormatee }} à {{ evenement.heureFinFormatee }}
    </p>

    <p>Visibilité : {{ evenement.visibilite }}</p>
    <p>{{ evenement.contenu }}</p>

    <p> {{ evenement.getTotalParticipants() }} / {{ evenement.places }} places prises.</p>

    {% if evenement.participations|length == 0 %}
        <p>Aucun inscrit pour le moment</p>
    {% else %}
        {% if app.user %}
            <div class="participants-liste">
                <h4>Participants inscrits :</h4>
                <ul>
                    {% for participant in evenement.participations %}
                        {{ participant.inscrit.pseudo }} => {{ participant.nbrParticipants }} personne(s)
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endif %}

    {% if app.user and app.user.estCeQueParticipeDeja(evenement) and evenement.imagesEvenement|length > 0 %}
        <section class="liste-photos-evenement">
            <h3>Photos de l'événement :</h3>
                {% for photo in evenement.imagesEvenement %}
                    <div class="affiche-event">
                        <img src="{{ asset('/images/photoDEvenement/'~photo) }} " alt="Photo prise lors de l'événement">
                    </div>
                    <a href="{{ vich_uploader_asset(photo, 'imageFile') }}" download="{{ photo.name }}">Télécharger cette image</a>
                {% endfor %}
        </section>
    {% endif %}

    {# ============= section commentaires ============= #}
    {% if app.user %}
        {% if evenement.commentaires | length > 0 %}
            <h4>Commentaires</h4>
            {% for commentaire in evenement.commentaires %}
                <div>
                    <p>
                        {{ commentaire.poste.pseudo }} ({{ commentaire.datePoste|date('d/m/Y H:i') }}):
                    </p>
                    <p>
                        {{ commentaire.message }}
                    </p>
                    {% if app.user.isAdmin() %}
                        <a class="btn-supprimer" href="{{ path('suppr_commentaire', {'id': commentaire.id}) }}">Supprimer</a>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
                <p>Soyez le premier à commenter !</p>
        {% endif %}

        {# ============= formulaire commentaire ============= #}
        <div class="commentaire">
            <div class="formulaire">
                {{ form_start(formAddCommentaire) }}

                <div class="col-form">
                    {{ form_row(formAddCommentaire.message) }}    
                </div>
                <div class="bouton">
                    {{ form_row(formAddCommentaire.valider) }}    
                </div>

                {{ form_end(formAddCommentaire) }}
            </div>
        </div>
    {% else %}
        <p>Connectez-vous pour laisser un commentaire !</p>
    {% endif %}
</div>

{% endblock %}