{% extends 'base.html.twig' %}

{% block title %}Détails événement{% endblock %}

{% block body %}

<main class="background detail-evenement-background">

    {# ============= section informations ============= #}

    <section class="detail-evenement-infos">
        <div class="detail-evenement-card">
            <h2>{{ evenement.titre }}</h2>

            <article class="detail-evenement-card">
                <p class="text-italic">
                    Début : {{ evenement.dateDebutFormatee }} à {{ evenement.heureDebutFormatee }} <br>
                    Fin : {{ evenement.dateFinFormatee }} à {{ evenement.heureFinFormatee }}
                </p>

                <p>
                    {{ evenement.description }}
                </p>

                <p class="underline">
                    {% if evenement.visibilite == 'tous' %}
                        Ouvert à tous
                    {% elseif evenement.visibilite == 'membres' %}
                        Ouvert aux membres
                    {% elseif evenement.visibilite == 'admins' %}
                        Ouvert au Comité
                    {% endif %}
                </p>

                <p>
                    Participants inscrits : {{ evenement.getTotalParticipants() }} / {{ evenement.places }}.
                </p>

            </article>
        </div>

        <div class="detail-evenement-affiche">
            {% if evenement.affiche %}
                <img src="{{ asset('/uploads/afficheEvenement/'~evenement.affiche) }} " alt="Affiche de l'événement">
            {% else %}
                <img src="{{ asset('img/affiche-event/affiche-defaut.webp')}}" alt="Photo d'une rencontre sportive">
            {% endif %}
        </div>
    </section>

    <div class="separation-section-barre"></div>

    <article class="detail-evenement-contenu">
        <p>
            {{ evenement.contenu }}
        </p>
    </article>
    
    {# ============= section participation ============= #}

    <section class="detail-evenement-participation">
        {% if app.user.isAdmin() %}
            <h4>Participants</h4>

            <div class="detail-evenement-inscrits">

                {% if evenement.participationsEvenement|length == 0 %}
                    <p>Aucun inscrit pour le moment</p>
                {% else %}
                    {% if app.user %}
                        {% for participant in evenement.participationsEvenement %}
                        <div class="detail-evenement-participant">
                            {% if participant.nbrParticipants > 1 %}
                                {{ participant.userInscrit.pseudo }} <i class="fa-solid fa-caret-right"></i> {{ participant.nbrParticipants }} personnes
                            {% else %}
                                {{ participant.userInscrit.pseudo }} <i class="fa-solid fa-caret-right"></i> {{ participant.nbrParticipants }} personne
                            {% endif %}
                        </div>
                        {% endfor %}
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}

        {% if app.user %}
            <h4>S'inscrire</h4>
            <div class="evenement-form">
                {% if app.user.estCeQueParticipeDeja(evenement)  %}
                    {{ form_start(formsDel[evenement.id]) }}
                    <div class="bouton">
                        {{ form_widget(formsDel[evenement.id].valider) }}
                    </div>
                    {{ form_end(formsDel[evenement.id]) }}
                {% else %}
                    {{ form_start(formsAdd[evenement.id]) }}
                    <div class="nbr-participants-form">
                        {{ form_row(formsAdd[evenement.id].nbrParticipants) }}
                    </div>
                        {{ form_widget(formsAdd[evenement.id].valider) }}
                    {{ form_end(formsAdd[evenement.id]) }}
                {% endif %}
            </div>
        {% else %}
            <p>Connectez vous pour vous inscrire à cet événement.</p>
        {% endif %}

    </section>

    {# ============= section photos événement ============= #}

    {% if app.user and app.user.estCeQueParticipeDeja(evenement) and evenement.imagesEvenement|length > 0 %}
        <section class="detail-evenement-galerie">
            <h3>Photos de l'événement :</h3>
            {# {{ dump(evenement.imagesEvenement) }} #}
            <div class="detail-evenement-photos">
                {% for photo in evenement.imagesEvenement %}
                    <div class="detail-evenement-photo">
                        <img src="{{ asset('/images/photoDEvenement/'~photo) }} " alt="Photo prise lors de l'événement">
                        <a class="btn-blanc" href="{{ vich_uploader_asset(photo, 'imageFile') }}" download="{{ photo.name }}">Télécharger cette image</a>
                    </div>
                {% endfor %}
            </div>
        </section>
    {% endif %}

    {# ============= section commentaires ============= #}

    <section class="detail-evenement-commentaires">
        {% if evenement.commentaires | length > 1 %}
            <h4>Commentaires</h4>
        {% else %}
            <h4>Commentaire</h4>
        {% endif %}

        {% if app.user %}
            {% if evenement.commentaires | length > 0 %}
                {% for commentaire in evenement.commentaires %}
                    <div class="detail-evenement-card-commentaire">
                        <div class="detail-evenement-auteur-commentaire">
                            {% if commentaire.poste.isVerified() == false %}
                                <div class="pp-commentaire">
                                    <i class="fa-regular fa-circle-user"></i>
                                </div>
                            {% elseif commentaire.poste.photoProfil %}
                                <div class="photo-pagePerso pp-commentaire">
                                    <img src="{{ asset('/uploads/photoProfil/'~commentaire.poste.photoProfil) }} " alt="Photo de profil">
                                </div>
                            {% else %}
                                <div class="pp-commentaire">
                                    <i class="fa-regular fa-circle-user"></i>
                                </div>
                            {% endif %}
                            
                            {% if commentaire.poste.isVerified() == false %}
                                <p class="text-purple">
                                    Anonyme <i class="fa-regular fa-comment"></i>
                                    {# <i class="fa-regular fa-envelope"></i> #}
                                </p>
                            {% else %}
                                <p class="text-purple">
                                    {{ commentaire.poste.pseudo }} <i class="fa-regular fa-comment"></i>
                                    {# <i class="fa-regular fa-envelope"></i> #}
                                </p>
                            {% endif %}
                            <p>
                                le {{ commentaire.datePoste|date('d/m/Y') }} à {{ commentaire.datePoste|date('H:i') }}
                            </p>
                        </div>

                        <p>
                            {{ commentaire.message }}
                        </p>
                        {% if app.user.isAdmin() %}
                            <a onclick="checker()" class="suppr-btn-formulaire" href="{{ path('suppr_commentaire', {'id': commentaire.id}) }}">Supprimer commentaire</a>
                        {% endif %}
                    </div>
                {% endfor %}
            {% else %}
                    <p>Soyez le premier à commenter !</p>
            {% endif %}

            {# ============= formulaire commentaire ============= #}
            
            <div class="detail-evenement-commentaire-form">
                {{ form_start(formAddCommentaire) }}
                {{ form_row(formAddCommentaire.message) }}    
                {{ form_row(formAddCommentaire.valider) }}    
                {{ form_end(formAddCommentaire) }}
            </div>
        {% else %}
            <p>
                Connectez-vous pour laisser un commentaire !
            </p>
        {% endif %}
    </section> 
</main>

{% endblock %}