<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1, width=device-width" />
        <meta name="description" content="Découvrez le BCKR (Badminton Club Kriegsheim Rottelsheim) : association sportive dédiée au badminton. Retrouvez ici les informations liées aux inscriptions, entraînements et événements du club.">
        <meta name="keywords" content="badminton, club, Kriegsheim, Rottelsheim, BCKR, entraînement">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            <link rel="stylesheet" href="{{ asset('css/style.css')}}">
        {% endblock %}
        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        {% endblock %}
        {# {{ knp_pagination_rel_links(pagination) }} #}
    </head>
    <body>
        {# ================= HEADER ================= #}
        <header>
            <nav class="navbar">
                <a href="{{ path('app_home') }}" class="logo">
                    <svg width="55" height="70" viewBox="0 0 141 201" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M91.9997 145.5C85.1997 167.9 63.1665 188.998 51.9998 196.998C50.4999 198.332 48.7 200.998 53.5 200.998C58.3 200.998 104.167 200.333 126.5 200C122 169 93.214 141.5 91.9997 145.5Z" fill="#807FFF"/>
                        <path d="M85.4997 117.5C127.5 150.5 133.5 188.801 133.5 198.301C133.5 200.301 140 200.801 140 198.301C140 193.829 140.833 64.8333 140 0.5H0V200.998H40.5C69.5001 169.998 75.4351 132.479 75 131C72.5 122.5 18.5 105.5 11.4998 53.4999C10.8669 48.7989 20 76.5 30.4998 84C37.4997 89 54.7998 94 49.9998 86C43.9998 76 44.5 69.4999 45.5 66.4999C47.1493 61.5522 51.0485 59.4902 53.5 58.9999C56 58.5 61.9 59.6 65.5 66C68.0313 70.5001 68 78.5 65.5 81.5C65.5 81.5 63.5 84 63.9998 84C76.5601 84 92.8331 68.1666 99.4997 58.9999C95.4997 88.4999 75.9997 97.0625 77.4997 99.5C80.6997 104.7 84.1664 114 85.4997 117.5Z" fill="#807FFF"/>
                        <path d="M115.5 28L89.5 39L95 29.5L88 25L95.5 19L88 10.5L115.5 15C118.167 15.5 123.078 15.5162 123.5 21C124 27.5 118.167 27.1667 115.5 28Z" fill="#FFFF0F"/>
                        <path d="M115.5 28L89.5 39L95 29.5M115.5 28V23.5M115.5 28C118.167 27.1667 124 27.5 123.5 21C123.078 15.5162 118.167 15.5 115.5 15M115.5 15L88 10.5L95.5 19M115.5 15V20M95.5 19L88 25L95 29.5M95.5 19L115.5 20M95 29.5L115.5 23.5M115.5 23.5V20" stroke="#0C0AED" stroke-width="2"/>
                    </svg>
                </a>
                <div class="nav-liens">
                    <ul>
                        <li><a href=" {{ path('app_home') }} ">Accueil</a></li>
                        <li><a href=" {{ path('club_home') }} ">Notre club</a></li>
                        <li><a href=" {{ path('app_evenement') }} ">Événements</a></li>
                        <li><a href=" {{ path('entrainements_home') }} ">Entraînements</a></li>
                    </ul>
                </div>
                <div class="nav-login">
                    <div class="plate plate4" onclick="this.classList.toggle('active')">
                        <svg class="burger" version="1.1" height="100" width="100" viewBox="0 0 100 100">
                          <path class="line line1" d="M 50,35 H 30" />
                          <path class="line line2" d="M 50,35 H 70" />
                          <path class="line line3" d="M 50,50 H 30" />
                          <path class="line line4" d="M 50,50 H 70" />
                          <path class="line line5" d="M 50,65 H 30" />
                          <path class="line line6" d="M 50,65 H 70" />
                        </svg>
                        <svg class="x" version="1.1" height="100" width="100" viewBox="0 0 100 100">
                          <path class="line" d="M 34,32 L 66,68" />
                          <path class="line" d="M 66,32 L 34,68" />
                        </svg>
                    </div>
                    {% if app.user %}
                        {% if app.user  and app.user.isAdmin() %}
                            <a href=" /admin "><i class="fa-solid fa-user-gear"></i></a>
                        {% endif %}
                        <a href="{{ path('pageperso_user') }}" class="btn-clair">Espace Personnel</a>
                        <a class="btn-blanc" href="{{ path('app_logout') }}">Se déconnecter</a>
                    {% else %}
                        <a href="{{ path('app_login') }}" class="btn-clair">Se connecter</a>
                        <a href="{{ path('app_register') }}" class="btn-blanc">S'inscrire</a>
                        {# <a href="{{ path('app_register_membre') }}" class="btn-blanc">S'inscrire en tant que membre</a> #}
                    {% endif %}
                </div>
            </nav>

            {# <div class="menu-mobile">
                <div class="mobile-menu">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <div class="plate plate4" onclick="this.classList.toggle('active')">
                    <svg class="burger" version="1.1" height="100" width="100" viewBox="0 0 100 100">
                      <path class="line line1" d="M 50,35 H 30" />
                      <path class="line line2" d="M 50,35 H 70" />
                      <path class="line line3" d="M 50,50 H 30" />
                      <path class="line line4" d="M 50,50 H 70" />
                      <path class="line line5" d="M 50,65 H 30" />
                      <path class="line line6" d="M 50,65 H 70" />
                    </svg>
                    <svg class="x" version="1.1" height="100" width="100" viewBox="0 0 100 100">
                      <path class="line" d="M 34,32 L 66,68" />
                      <path class="line" d="M 66,32 L 34,68" />
                    </svg>
                </div>
                    <a href=" {{ path('app_home') }} ">Home</a>
                    <a href=" {{ path('new_evenement') }} ">Créer un événement</a>
                <div class="login">
                    <a href="#" class="connexion">Se connecter</a>
                    <a href="#" class="deconnexion">Se déconnecter</a>
                    <a href="#" class="inscription">S'inscrire</a>
                </div>
            </div> #}
            {# ================= FLASHES MESSAGES ================= #}
            {% for message in app.flashes('success') %}
                <div class="alert flash-success">
                    {{ message }}
                </div>
            {% endfor %}
    
            {% for message in app.flashes('danger') %}
                <div class="alert flash-danger">
                    {{ message }}
                </div>
            {% endfor %}
    
        </header>
        
        {% block body %}{% endblock %}

        {# ================= FOOTER ================= #}
        <footer>
            <div class="logo-footer">
                <a href="{{ path('app_home') }}" class="logo">
                    <svg width="55" height="70" viewBox="0 0 141 201" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M91.9997 145.5C85.1997 167.9 63.1665 188.998 51.9998 196.998C50.4999 198.332 48.7 200.998 53.5 200.998C58.3 200.998 104.167 200.333 126.5 200C122 169 93.214 141.5 91.9997 145.5Z" fill="#807FFF"/>
                        <path d="M85.4997 117.5C127.5 150.5 133.5 188.801 133.5 198.301C133.5 200.301 140 200.801 140 198.301C140 193.829 140.833 64.8333 140 0.5H0V200.998H40.5C69.5001 169.998 75.4351 132.479 75 131C72.5 122.5 18.5 105.5 11.4998 53.4999C10.8669 48.7989 20 76.5 30.4998 84C37.4997 89 54.7998 94 49.9998 86C43.9998 76 44.5 69.4999 45.5 66.4999C47.1493 61.5522 51.0485 59.4902 53.5 58.9999C56 58.5 61.9 59.6 65.5 66C68.0313 70.5001 68 78.5 65.5 81.5C65.5 81.5 63.5 84 63.9998 84C76.5601 84 92.8331 68.1666 99.4997 58.9999C95.4997 88.4999 75.9997 97.0625 77.4997 99.5C80.6997 104.7 84.1664 114 85.4997 117.5Z" fill="#807FFF"/>
                        <path d="M115.5 28L89.5 39L95 29.5L88 25L95.5 19L88 10.5L115.5 15C118.167 15.5 123.078 15.5162 123.5 21C124 27.5 118.167 27.1667 115.5 28Z" fill="#FFFF0F"/>
                        <path d="M115.5 28L89.5 39L95 29.5M115.5 28V23.5M115.5 28C118.167 27.1667 124 27.5 123.5 21C123.078 15.5162 118.167 15.5 115.5 15M115.5 15L88 10.5L95.5 19M115.5 15V20M95.5 19L88 25L95 29.5M95.5 19L115.5 20M95 29.5L115.5 23.5M115.5 23.5V20" stroke="#0C0AED" stroke-width="2"/>
                        </svg>
                </a>
            </div>

            <section class="partenaires">

                <h5>Merci à ceux qui nous soutiennent !</h5>
                <div class="barre-sous-titre"></div>

                <article class="bandeau-partenaires">
                    <div class="liste-partenaires">
                        <a class="card-partenaire" href="http://www.rottelsheim.fr/" target="_blank">
                            <img src="{{ asset('img/homepage/Blason_Rottelsheim.webp')}}" alt="Blason de la mairie de Rottelsheim">
                            <p>Mairie de Rottelsheim</p>
                        </a>
                        <a class="card-partenaire" href="https://www.agglo-haguenau.fr/commune/kriegsheim/" target="_blank">
                            <img src="{{ asset('img/homepage/Blason_Kriegsheim.webp')}}" alt="Blason de la mairie de Kriegsheim">
                            <p>Mairie de Kriegsheim</p>
                        </a>
                    </div>
                    <div class="liste-partenaires">
                        <a class="card-partenaire" href="https://www.facebook.com/LardesportsIllkirch.fr/?locale=fr_FR" target="_blank">
                            <img src="{{ asset('img/homepage/lardesport.webp')}}" alt="logo de la marque LardeSports">
                            <p>Lardesport</p>
                        </a>
                    </div>
                </article>
            </section>
    

            <section class="liens-footer">
                <div class="liens-internes">
                    <a href="#" class="texte-footer">Retour en haut</a>
                    <a href="{{ path('app_home') }}" class="texte-footer">Accueil</a>
                    <a href="{{ path('mentions_home') }}" class="texte-footer">Mentions légales</a>
                    {# <a href="#" class="texte-footer">Sécurité</a> #}
                    <a href=" {{ path('contact_home') }} " class="texte-footer">Contact</a>
                </div>
                <a href="https://www.facebook.com/people/Badminton-Club-Kriegsheim-Rottelsheim/100068341596055/" class="texte-footer" target="_blank"><i class="fa-brands fa-square-facebook fa-2xl"></i></a>
            </section>
            
        </footer>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <script src="{{ asset('js/slider-homepage.js') }}"></script>
        <script src="{{ asset('js/confirm.js') }}"></script>
        <script src="{{ asset('js/notif.js') }}"></script>
        <script src="{{ asset('js/antiSpamBtn.js') }}"></script>
        <script src="{{ asset('js/showHide.js') }}"></script>
        <script src="{{ asset('js/homepageAnimations.js') }}"></script>
    </body>
</html>

{# SOURCES
- icon navbar : <a href="https://www.flaticon.com/fr/icones-gratuites/badminton" title="badminton icônes">Badminton icônes créées par AmethystDesign - Flaticon</a>

- photo pile de volants : Photo de <a href="https://unsplash.com/fr/@saif71?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Saif71.com</a> sur <a href="https://unsplash.com/fr/photos/decor-en-forme-de-cone-en-bois-blanc-7CfNSmPJBiU?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>

- photo de court (background) : Photo de <a href="https://unsplash.com/fr/@vishwanth07?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Vishwanth Pindiboina</a> sur <a href="https://unsplash.com/fr/photos/couloir-en-beton-gris-sans-personne-eBnKgT__Bsg?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>

- photo terrain + raquette : Photo de SHVETS production: https://www.pexels.com/fr-fr/photo/sport-lignes-court-terrain-8007493/

- photo-terrain-et-raquettes-sombre : Photo de eric anada sur Pexels: https://www.pexels.com/fr-fr/photo/terrain-vert-et-blanc-avec-raquettes-de-badminton-3660204/


#}