{% extends 'base.html.twig' %}

{% block title %}
    {% if app.user %}
        Modification de profil
        {% else %}
        Page introuvable
    {% endif %}
{% endblock %}


{% block body %}
{% if app.user %}
    <main class="background formulaire-background">

        <h2>Modifier votre profil</h2>

        <div class="formulaire">
            {{ form_start(formEditUser) }}
            <div class="categorie-formulaire">
                <h5>Informations du compte</h5>
                {{ form_row(formEditUser.pseudo) }}    
                {{ form_row(formEditUser.photoProfil) }}    
                {{ form_row(formEditUser.email) }}    
            </div>

            <div class="categorie-formulaire">
                <h5>Informations personnelles</h5>
                {{ form_row(formEditUser.nom) }}
                {{ form_row(formEditUser.prenom) }}
                {{ form_row(formEditUser.numTelephone) }}
                {{ form_row(formEditUser.dateNaissance) }}
                {{ form_row(formEditUser.adresse) }}
                {{ form_row(formEditUser.ville) }}
                {{ form_row(formEditUser.cp) }}
                <div onclick="checker()">
                    {{ form_row(formEditUser.valider, { 'label': 'Modifier profil' }) }}
                </div>
            </div>
            {{ form_end(formEditUser) }}
        </div>

    </main>
{% else %}
    <div class="error">
        Page introuvable
    </div>
{% endif %}

{% endblock %}