{% extends 'base.html.twig' %}

{% block title %}
    Espace personnel
{% endblock %}


{% block body %}

{% if app.user %}
    <main class="background pagePerso-background">
        <h4>Espace personnel : {{app.user.pseudo}}</h4>
        <div class="pagePerso-wrapper">
            <section class="gerer-compte">
                <div class="pagePerso-row">
                    <h5>Gestion du compte</h5>
                    <svg width="52" height="55" viewBox="0 0 107 107" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <mask id="path-1-outside-1_97_7" maskUnits="userSpaceOnUse" x="-1.93579" y="-3" width="111" height="115" fill="black">
                        <rect fill="white" x="-1.93579" y="-4" width="111" height="115"/>
                        <path d="M103.635 34.8168C104.304 36.635 103.74 38.6621 102.298 39.9578L93.2489 48.1918C93.4787 49.9264 93.6041 51.7027 93.6041 53.5C93.6041 55.2973 93.4787 57.0736 93.2489 58.8082L102.298 67.0422C103.74 68.3379 104.304 70.365 103.635 72.1832C102.716 74.6701 101.608 77.0525 100.333 79.3514L99.3512 81.0441C97.9719 83.343 96.4254 85.5164 94.7326 87.5645C93.4996 89.0691 91.4516 89.5707 89.6125 88.9855L77.9721 85.2865C75.1717 87.4391 72.0787 89.2363 68.7768 90.5947L66.1645 102.528C65.7465 104.429 64.2836 105.934 62.361 106.248C59.477 106.728 56.5094 106.979 53.4791 106.979C50.4489 106.979 47.4813 106.728 44.5973 106.248C42.6746 105.934 41.2117 104.429 40.7938 102.528L38.1815 90.5947C34.8795 89.2363 31.7866 87.4391 28.9862 85.2865L17.3666 89.0064C15.5276 89.5916 13.4795 89.0691 12.2465 87.5854C10.5537 85.5373 9.00726 83.3639 7.62796 81.065L6.64573 79.3723C5.37093 77.0734 4.26331 74.691 3.34378 72.2041C2.67503 70.3859 3.23929 68.3588 4.68128 67.0631L13.7303 58.8291C13.5004 57.0736 13.375 55.2973 13.375 53.5C13.375 51.7027 13.5004 49.9264 13.7303 48.1918L4.68128 39.9578C3.23929 38.6621 2.67503 36.635 3.34378 34.8168C4.26331 32.3299 5.37093 29.9475 6.64573 27.6486L7.62796 25.9559C9.00726 23.657 10.5537 21.4836 12.2465 19.4355C13.4795 17.9309 15.5276 17.4293 17.3666 18.0145L29.0071 21.7135C31.8075 19.5609 34.9004 17.7637 38.2024 16.4053L40.8147 4.47227C41.2326 2.57051 42.6955 1.06582 44.6182 0.752344C47.5022 0.250781 50.4698 0 53.5 0C56.5303 0 59.4979 0.250781 62.3819 0.731445C64.3045 1.04492 65.7674 2.54961 66.1854 4.45137L68.7977 16.3844C72.0996 17.7428 75.1926 19.54 77.993 21.6926L89.6334 17.9936C91.4725 17.4084 93.5205 17.9309 94.7535 19.4146C96.4463 21.4627 97.9928 23.6361 99.3721 25.935L100.354 27.6277C101.629 29.9266 102.737 32.309 103.656 34.7959L103.635 34.8168ZM53.5 70.2188C57.9341 70.2188 62.1866 68.4573 65.322 65.3219C68.4573 62.1866 70.2188 57.9341 70.2188 53.5C70.2188 49.0659 68.4573 44.8134 65.322 41.6781C62.1866 38.5427 57.9341 36.7813 53.5 36.7812C49.0659 36.7813 44.8135 38.5427 41.6781 41.6781C38.5427 44.8134 36.7813 49.0659 36.7813 53.5C36.7813 57.9341 38.5427 62.1866 41.6781 65.3219C44.8135 68.4573 49.0659 70.2188 53.5 70.2188Z"/>
                        </mask>
                        <path d="M103.635 34.8168L100.807 31.9884L98.9983 33.797L99.8813 36.1976L103.635 34.8168ZM102.298 39.9578L99.6244 36.9825L99.6151 36.9909L99.6058 36.9993L102.298 39.9578ZM93.2489 48.1918L90.5568 45.2333L89.0085 46.6421L89.2835 48.7173L93.2489 48.1918ZM93.2489 58.8082L89.2835 58.2827L89.0085 60.3579L90.5568 61.7667L93.2489 58.8082ZM102.298 67.0422L99.6058 70.0007L99.6151 70.0091L99.6244 70.0175L102.298 67.0422ZM103.635 72.1832L107.387 73.5704L107.389 73.564L103.635 72.1832ZM100.333 79.3514L103.793 81.3589L103.813 81.3253L103.832 81.2912L100.333 79.3514ZM99.3512 81.0441L102.781 83.1021L102.796 83.077L102.811 83.0517L99.3512 81.0441ZM94.7326 87.5645L91.6495 85.0161L91.6441 85.0226L91.6387 85.0292L94.7326 87.5645ZM89.6125 88.9855L90.8253 85.1738L90.8239 85.1734L89.6125 88.9855ZM77.9721 85.2865L79.1835 81.4744L77.1915 80.8414L75.5344 82.1151L77.9721 85.2865ZM68.7768 90.5947L67.255 86.8955L65.3174 87.6926L64.8693 89.7393L68.7768 90.5947ZM66.1645 102.528L70.0712 103.386L70.072 103.383L66.1645 102.528ZM62.361 106.248L61.7173 102.3L61.7034 102.302L62.361 106.248ZM44.5973 106.248L45.2549 102.302L45.241 102.3L44.5973 106.248ZM40.7938 102.528L36.8863 103.383L36.887 103.386L40.7938 102.528ZM38.1815 90.5947L42.0889 89.7393L41.6409 87.6926L39.7033 86.8955L38.1815 90.5947ZM28.9862 85.2865L31.4239 82.1151L29.7624 80.838L27.7666 81.477L28.9862 85.2865ZM17.3666 89.0064L18.5794 92.8182L18.5862 92.816L17.3666 89.0064ZM12.2465 87.5854L9.16333 90.1337L9.17008 90.1418L12.2465 87.5854ZM7.62796 81.065L4.1682 83.0725L4.18291 83.0979L4.19799 83.123L7.62796 81.065ZM6.64573 79.3723L3.1476 81.3121L3.16646 81.3461L3.18598 81.3798L6.64573 79.3723ZM3.34378 72.2041L-0.410335 73.5849L-0.407976 73.5913L3.34378 72.2041ZM4.68128 67.0631L7.35475 70.0384L7.36407 70.03L7.37333 70.0216L4.68128 67.0631ZM13.7303 58.8291L16.4224 61.7876L17.9677 60.3814L17.6964 58.3097L13.7303 58.8291ZM13.7303 48.1918L17.6956 48.7173L17.9707 46.6421L16.4224 45.2333L13.7303 48.1918ZM4.68128 39.9578L7.37333 36.9993L7.36407 36.9909L7.35475 36.9825L4.68128 39.9578ZM3.34378 34.8168L-0.407981 33.4296L-0.410329 33.436L3.34378 34.8168ZM6.64573 27.6486L3.18598 25.6411L3.16646 25.6748L3.1476 25.7088L6.64573 27.6486ZM7.62796 25.9559L4.19799 23.8979L4.18291 23.923L4.1682 23.9483L7.62796 25.9559ZM12.2465 19.4355L15.3297 21.9839L15.3351 21.9774L15.3404 21.9708L12.2465 19.4355ZM17.3666 18.0145L16.1538 21.8262L16.1552 21.8266L17.3666 18.0145ZM29.0071 21.7135L27.7957 25.5256L29.7876 26.1586L31.4448 24.8849L29.0071 21.7135ZM38.2024 16.4053L39.7242 20.1045L41.6618 19.3074L42.1098 17.2607L38.2024 16.4053ZM40.8147 4.47227L36.9079 3.61364L36.9072 3.61687L40.8147 4.47227ZM44.6182 0.752344L45.2619 4.70021L45.2827 4.69681L45.3036 4.69319L44.6182 0.752344ZM62.3819 0.731445L61.7243 4.67705L61.7382 4.67932L62.3819 0.731445ZM66.1854 4.45137L70.0929 3.59597L70.0921 3.59274L66.1854 4.45137ZM68.7977 16.3844L64.8902 17.2398L65.3383 19.2865L67.2759 20.0836L68.7977 16.3844ZM77.993 21.6926L75.5553 24.864L77.2124 26.1377L79.2044 25.5047L77.993 21.6926ZM89.6334 17.9936L90.8448 21.8057L90.8462 21.8053L89.6334 17.9936ZM94.7535 19.4146L97.8367 16.8663L97.83 16.8582L94.7535 19.4146ZM99.3721 25.935L102.832 23.9274L102.817 23.9021L102.802 23.877L99.3721 25.935ZM100.354 27.6277L103.852 25.6879L103.834 25.6539L103.814 25.6202L100.354 27.6277ZM103.656 34.7959L106.485 37.6243L108.297 35.8123L107.408 33.4087L103.656 34.7959ZM53.5 36.7812L53.5 32.7812L53.5 36.7812ZM36.7813 53.5L32.7813 53.5L36.7813 53.5ZM99.8813 36.1976C99.9494 36.3828 99.9272 36.7105 99.6244 36.9825L104.971 42.9331C107.553 40.6138 108.659 36.8871 107.389 33.436L99.8813 36.1976ZM99.6058 36.9993L90.5568 45.2333L95.9409 51.1503L104.99 42.9163L99.6058 36.9993ZM89.2835 48.7173C89.4917 50.2877 89.6041 51.8883 89.6041 53.5H97.6041C97.6041 51.5172 97.4658 49.5651 97.2142 47.6663L89.2835 48.7173ZM89.6041 53.5C89.6041 55.1117 89.4917 56.7123 89.2835 58.2827L97.2142 59.3337C97.4658 57.4349 97.6041 55.4828 97.6041 53.5H89.6041ZM90.5568 61.7667L99.6058 70.0007L104.99 64.0837L95.9409 55.8497L90.5568 61.7667ZM99.6244 70.0175C99.9272 70.2895 99.9494 70.6172 99.8813 70.8024L107.389 73.564C108.659 70.1129 107.553 66.3862 104.971 64.0669L99.6244 70.0175ZM99.8836 70.796C99.0387 73.0811 98.0177 75.2793 96.8353 77.4115L103.832 81.2912C105.199 78.8258 106.393 76.2591 107.387 73.5704L99.8836 70.796ZM96.8737 77.3438L95.8915 79.0366L102.811 83.0517L103.793 81.3589L96.8737 77.3438ZM95.9212 78.9862C94.6485 81.1073 93.2189 83.1173 91.6495 85.0161L97.8158 90.1128C99.632 87.9155 101.295 85.5786 102.781 83.1021L95.9212 78.9862ZM91.6387 85.0292C91.5834 85.0966 91.5004 85.1586 91.3636 85.1952C91.2176 85.2344 91.0263 85.2378 90.8253 85.1738L88.3997 92.7972C91.6371 93.8273 95.4505 92.9994 97.8266 90.0997L91.6387 85.0292ZM90.8239 85.1734L79.1835 81.4744L76.7607 89.0987L88.4011 92.7977L90.8239 85.1734ZM75.5344 82.1151C73.0084 84.0568 70.2225 85.6747 67.255 86.8955L70.2986 94.2939C73.935 92.7979 77.335 90.8214 80.4098 88.4579L75.5344 82.1151ZM64.8693 89.7393L62.257 101.672L70.072 103.383L72.6843 91.4501L64.8693 89.7393ZM62.2577 101.669C62.1588 102.119 61.8758 102.274 61.7173 102.3L63.0046 110.196C66.6914 109.594 69.3343 106.74 70.0712 103.386L62.2577 101.669ZM61.7034 102.302C59.036 102.747 56.2884 102.979 53.4791 102.979V110.979C56.7304 110.979 59.9179 110.71 63.0186 110.193L61.7034 102.302ZM53.4791 102.979C50.6699 102.979 47.9222 102.747 45.2549 102.302L43.9397 110.193C47.0403 110.71 50.2278 110.979 53.4791 110.979V102.979ZM45.241 102.3C45.0824 102.274 44.7995 102.119 44.7005 101.669L36.887 103.386C37.624 106.74 40.2669 109.594 43.9536 110.196L45.241 102.3ZM44.7012 101.672L42.0889 89.7393L34.274 91.4501L36.8863 103.383L44.7012 101.672ZM39.7033 86.8955C36.7358 85.6747 33.9499 84.0568 31.4239 82.1151L26.5485 88.4579C29.6232 90.8214 33.0232 92.7979 36.6597 94.2939L39.7033 86.8955ZM27.7666 81.477L16.147 85.1969L18.5862 92.816L30.2058 89.0961L27.7666 81.477ZM16.1538 85.1947C15.7428 85.3255 15.4344 85.163 15.3229 85.0289L9.17008 90.1418C11.5246 92.9753 15.3123 93.8577 18.5794 92.8181L16.1538 85.1947ZM15.3297 85.037C13.7603 83.1382 12.3306 81.1282 11.0579 79.0071L4.19799 83.123C5.68388 85.5995 7.34719 87.9364 9.16334 90.1337L15.3297 85.037ZM11.0877 79.0575L10.1055 77.3648L3.18598 81.3798L4.1682 83.0725L11.0877 79.0575ZM10.1439 77.4324C8.96143 75.3001 7.94046 73.102 7.09553 70.8169L-0.407976 73.5913C0.586162 76.28 1.78042 78.8467 3.1476 81.3121L10.1439 77.4324ZM7.09789 70.8233C7.02977 70.6381 7.05201 70.3104 7.35475 70.0384L2.0078 64.0878C-0.573433 66.4071 -1.67971 70.1338 -0.410329 73.5849L7.09789 70.8233ZM7.37333 70.0216L16.4224 61.7876L11.0383 55.8706L1.98923 64.1046L7.37333 70.0216ZM17.6964 58.3097C17.4874 56.7133 17.375 55.1108 17.375 53.5H9.37503C9.37503 55.4837 9.51345 57.434 9.76416 59.3485L17.6964 58.3097ZM17.375 53.5C17.375 51.8883 17.4875 50.2877 17.6956 48.7173L9.76497 47.6663C9.51333 49.5651 9.37503 51.5172 9.37503 53.5H17.375ZM16.4224 45.2333L7.37333 36.9993L1.98923 42.9163L11.0383 51.1503L16.4224 45.2333ZM7.35475 36.9825C7.05201 36.7105 7.02977 36.3828 7.09789 36.1976L-0.410329 33.436C-1.67971 36.8871 -0.573432 40.6138 2.0078 42.9331L7.35475 36.9825ZM7.09553 36.204C7.94046 33.9189 8.96143 31.7208 10.1439 29.5885L3.1476 25.7088C1.78042 28.1742 0.586162 30.7409 -0.407976 33.4296L7.09553 36.204ZM10.1055 29.6561L11.0877 27.9634L4.1682 23.9483L3.18598 25.6411L10.1055 29.6561ZM11.0579 28.0138C12.3306 25.8927 13.7603 23.8827 15.3297 21.9839L9.16334 16.8872C7.34719 19.0845 5.68388 21.4214 4.19799 23.8979L11.0579 28.0138ZM15.3404 21.9708C15.3957 21.9034 15.4788 21.8414 15.6156 21.8047C15.7616 21.7656 15.9529 21.7622 16.1538 21.8262L18.5794 14.2027C15.3421 13.1727 11.5287 14.0006 9.1526 16.9003L15.3404 21.9708ZM16.1552 21.8266L27.7957 25.5256L30.2185 17.9013L18.578 14.2023L16.1552 21.8266ZM31.4448 24.8849C33.9708 22.9432 36.7567 21.3253 39.7242 20.1045L36.6806 12.7061C33.0441 14.2021 29.6441 16.1787 26.5694 18.5421L31.4448 24.8849ZM42.1098 17.2607L44.7221 5.32767L36.9072 3.61687L34.2949 15.5499L42.1098 17.2607ZM44.7214 5.33089C44.8204 4.88056 45.1033 4.72606 45.2619 4.70021L43.9745 -3.19553C40.2877 -2.59442 37.6449 0.260456 36.9079 3.61364L44.7214 5.33089ZM45.3036 4.69319C47.9526 4.23248 50.6906 4 53.5 4V-4C50.2489 -4 47.0517 -3.73092 43.9328 -3.1885L45.3036 4.69319ZM53.5 4C56.3093 4 59.0569 4.23246 61.7243 4.67702L63.0395 -3.21413C59.9388 -3.7309 56.7513 -4 53.5 -4V4ZM61.7382 4.67932C61.8967 4.70517 62.1797 4.85966 62.2786 5.31L70.0921 3.59274C69.3552 0.239553 66.7123 -2.61532 63.0255 -3.21643L61.7382 4.67932ZM62.2779 5.30677L64.8902 17.2398L72.7052 15.529L70.0929 3.59597L62.2779 5.30677ZM67.2759 20.0836C70.2434 21.3044 73.0293 22.9223 75.5553 24.864L80.4307 18.5212C77.3559 16.1578 73.9559 14.1812 70.3195 12.6852L67.2759 20.0836ZM79.2044 25.5047L90.8448 21.8057L88.422 14.1814L76.7816 17.8804L79.2044 25.5047ZM90.8462 21.8053C91.2572 21.6745 91.5657 21.837 91.6771 21.9711L97.83 16.8582C95.4754 14.0247 91.6878 13.1423 88.4206 14.1819L90.8462 21.8053ZM91.6704 21.963C93.2398 23.8618 94.6694 25.8718 95.9421 27.9929L102.802 23.877C101.316 21.4005 99.6529 19.0636 97.8367 16.8663L91.6704 21.963ZM95.9124 27.9425L96.8946 29.6352L103.814 25.6202L102.832 23.9274L95.9124 27.9425ZM96.8562 29.5676C98.0386 31.6999 99.0596 33.898 99.9045 36.1831L107.408 33.4087C106.414 30.72 105.22 28.1533 103.852 25.6879L96.8562 29.5676ZM100.828 31.9675L100.807 31.9884L106.464 37.6452L106.485 37.6243L100.828 31.9675ZM53.5 74.2188C58.995 74.2188 64.2649 72.0359 68.1504 68.1504L62.4935 62.4935C60.1083 64.8787 56.8733 66.2188 53.5 66.2188V74.2188ZM68.1504 68.1504C72.0359 64.2648 74.2188 58.995 74.2188 53.5H66.2188C66.2188 56.8732 64.8788 60.1083 62.4935 62.4935L68.1504 68.1504ZM74.2188 53.5C74.2188 48.005 72.0359 42.7352 68.1504 38.8496L62.4935 44.5065C64.8788 46.8917 66.2188 50.1268 66.2188 53.5H74.2188ZM68.1504 38.8496C64.2649 34.9641 58.995 32.7813 53.5 32.7812L53.5 40.7812C56.8733 40.7813 60.1083 42.1213 62.4935 44.5065L68.1504 38.8496ZM53.5 32.7812C48.0051 32.7813 42.7352 34.9641 38.8497 38.8496L44.5065 44.5065C46.8917 42.1213 50.1268 40.7813 53.5 40.7812L53.5 32.7812ZM38.8497 38.8496C34.9641 42.7352 32.7813 48.005 32.7813 53.5L40.7813 53.5C40.7813 50.1268 42.1213 46.8917 44.5065 44.5065L38.8497 38.8496ZM32.7813 53.5C32.7813 58.995 34.9641 64.2648 38.8497 68.1504L44.5065 62.4935C42.1213 60.1083 40.7813 56.8732 40.7813 53.5L32.7813 53.5ZM38.8497 68.1504C42.7352 72.0359 48.0051 74.2188 53.5 74.2188V66.2188C50.1268 66.2188 46.8917 64.8787 44.5065 62.4935L38.8497 68.1504Z" fill="black" mask="url(#path-1-outside-1_97_7)"/>
                    </svg>
                </div>
                    
                <div id="menu-compte-perso">
                    <div class="espace-perso-texte">
                        <a href="{{ path('edit_user', {'id': app.user.id}) }}">Modifier profil</a>
                    </div>
                    <div class="espace-perso-texte">
                        <a href=" {{ path('forgotten_password') }} ">Mot de passe oublié ?</a>
                    </div>
                    <div class="espace-perso-texte">
                        Rejoindre le club
                    </div>
                    <div class="espace-perso-texte">
                        Supprimer mon compte
                    </div>
                </div>
            </section>

            <section class="infos-compte">
                <div class="infos-generales">
                    <div class="pagePerso-row">
                        <h5>Informations générales</h5>
                        <svg width="40" height="55" viewBox="0 0 55 63" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_89_2)">
                            <path d="M16.3748 8.45834H8.95817C4.86206 8.45834 1.5415 11.4058 1.5415 15.0417V54.5417C1.5415 58.1777 4.86206 61.125 8.95817 61.125H46.0415C50.1377 61.125 53.4582 58.1777 53.4582 54.5417V15.0417C53.4582 11.4058 50.1377 8.45834 46.0415 8.45834H38.6248" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M27.5 31.5H38.625" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M27.5 44.6667H38.625" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M16.375 8.45833C16.375 4.82246 19.6956 1.875 23.7917 1.875H31.2083C35.3046 1.875 38.625 4.82246 38.625 8.45833V15.0417H16.375V8.45833Z" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M16.1208 34.523C18.0286 34.523 19.5752 33.0793 19.5752 31.2985C19.5752 29.5176 18.0286 28.074 16.1208 28.074C14.2131 28.074 12.6665 29.5176 12.6665 31.2985C12.6665 33.0793 14.2131 34.523 16.1208 34.523Z" fill="black"/>
                            <path d="M16.1208 47.4209C18.0286 47.4209 19.5752 46.0675 19.5752 44.398C19.5752 42.7284 18.0286 41.375 16.1208 41.375C14.2131 41.375 12.6665 42.7284 12.6665 44.398C12.6665 46.0675 14.2131 47.4209 16.1208 47.4209Z" fill="black"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_89_2">
                            <rect width="55" height="63" fill="white"/>
                            </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <div class="pagePerso-row">
                        <div class="infos-liste">
                            <div class="texte-underligne">
                                Pseudo
                            </div>
                            <div class="espace-perso-texte">
                                {{ app.user.pseudo }}
                            </div>
                            <div class="texte-underligne">
                                Email
                            </div>
                            <div class="espace-perso-texte">
                                {{ app.user.email }}
                            </div>
                        </div>
                        {% if app.user.photoProfil %}
                            <div class="column-photoPageperso">
                                <div class="photo-pagePerso">
                                    <img src="{{ asset('/uploads/photoProfil/'~app.user.photoProfil) }} " alt="Photo de profil">
                                </div>
                                {{ form_start(formDeletePP) }}
                                {{ form_row(formDeletePP.supprimerPP) }}
                                {{ form_end(formDeletePP) }}
                            </div>
                        {% else %}
                            <div class="photo-pagePerso">
                                <i class="fa-regular fa-circle-user"></i>
                                {# <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                    <path d="M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464l349.5 0c-8.9-63.3-63.3-112-129-112l-91.4 0c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304l91.4 0C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7L29.7 512C13.3 512 0 498.7 0 482.3z"/>
                                </svg> #}
                            </div>
                        {% endif %}
                    </div>
                </div>

                {% if app.user.aInfosPerso %}
                    <div class="infos-membre">
                        <div class="infos-texte">
                            <h5>Informations personnelles</h5>
                            <div class="infos-liste">
                                <div class="texte-underligne">
                                    Nom
                                </div>
                                <div class="espace-perso-texte">
                                    {% if app.user.nom %}
                                        {{ app.user.nom }}
                                    {% else %}
                                        Non renseigné
                                    {% endif %}
                                </div>

                                <div class="texte-underligne">
                                    Prénom
                                </div>
                                <div class="espace-perso-texte">
                                    {% if app.user.prenom %}
                                        {{ app.user.prenom }}
                                    {% else %}
                                        Non renseigné
                                    {% endif %}
                                </div>
                                <div class="texte-underligne">
                                    Numéro de téléphone
                                </div>
                                <div class="espace-perso-texte">
                                    {% if app.user.numTelephone %}
                                        {{ app.user.numTelephone }}
                                    {% else %}
                                        Non renseigné
                                    {% endif %}
                                </div>
                                <div class="texte-underligne">
                                    Numéro de licence
                                </div>
                                <div class="espace-perso-texte">
                                    {% if app.user.numLicence %}
                                        {{ app.user.numLicence }}
                                    {% else %}
                                        Non renseigné
                                    {% endif %}
                                </div>
                                <div class="texte-underligne">
                                    Date de naissance
                                </div>
                                <div class="espace-perso-texte">
                                    {% if app.user.dateNaissance %}
                                        {{ app.user.dateNaissanceFormatee }}
                                    {% else %}
                                        Non renseigné
                                    {% endif %}
                                </div>
                                <div class="texte-underligne">
                                    Adresse
                                </div>
                                <div class="espace-perso-texte">
                                    {% if app.user.adresse and app.user.ville and app.user.cp %}
                                        {{ app.user.adresse }}, {{ app.user.cp }} {{ app.user.ville }}
                                    {% else %}
                                        Non renseigné
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </section>

            <section class="evenements-inscrit">
                {% if app.user.participationEvent|length > 0 %}
                    <div class="pagePerso-row">
                        <h5>Inscrit aux événements :</h5>
                        <svg width="37" height="40" viewBox="0 0 37 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M29.5416 17.0833H7.45822V21.5H29.5416V17.0833ZM34.5 4.91667H31.7499V0.5H27.3332V4.91667H9.66656V0.5H5.24989V4.91667H2.5C0.0487502 4.91667 0 5.07083 0 7.5V36.9584C0 39.3875 0.590306 40 3.04156 40H33.9582C36.3874 40 36.9999 39.3875 36.9999 36.9584V7.5C36.9999 5.07083 36.9292 4.91667 34.5 4.91667ZM33.9582 36.9584H3.04156V12.6667H33.9582V36.9584ZM22.9166 25.9167H7.45822V30.3333H22.9166V25.9167Z" fill="black"/>
                        </svg>
                    </div>
                    <div class="form-recherche">
                        {{ form_start(formSearch) }}
                            {{ form_widget(formSearch.recherche) }}
                            {{ form_widget(formSearch.valider) }}
                            <a href="{{ path('pageperso_user') }}"><i class="fa-solid fa-rotate"></i></a>
                        {{ form_end(formSearch) }}
                    </div>
                    <div class="evenement-mini-card">
                        {% for participation in pagination %}
                            <div class="affiche-event">
                                {% if participation.evenementInscrit.affiche %}
                                    <img src="{{ asset('/uploads/afficheEvenement/'~participation.evenementInscrit.affiche) }} " alt="Affiche de l'événement">
                                {% else %}
                                    <img src="{{ asset('img/affiche-event/affiche-defaut.webp')}}" alt="Photo d'un barbecue convivial">
                                {% endif %}
                            </div>
                            
                            <div class="detail-mini-card">
                                <h6><a href=" {{ path('show_evenement', {'id': participation.evenementInscrit.id}) }} ">{{ participation.evenementInscrit.titre }}</a></h6>
                                {{ participation.evenementInscrit.description }}<br>
                                Du {{ participation.evenementInscrit.dateDebutFormatee }} à {{ participation.evenementInscrit.heureDebutFormatee }}<br>
                                Au {{ participation.evenementInscrit.dateFinFormatee }} à {{ participation.evenementInscrit.heureFinFormatee }}<br>
                            </div>
                        {% endfor %}

                        <div class="navigation">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                        </div>
                {% else %}
                    Inscrit à aucun événement.
                {% endif %}
            </section>
        </div>
    </main>
{% else %}
    <div class="error">
        Page introuvable
    </div>
{% endif %}

{% endblock %}