{% extends 'base.html.twig' %}

{% block title %}
    Espace personnel
{% endblock %}


{% block body %}

{% if app.user %}
    <div class="pagePerso-container">
        <div>
            <a class="btn-editer-profile" href="{{ path('edit_user', {'id': app.user.id}) }}">Éditer</a>
        </div>
        <h4>Espace personnel : {{app.user.pseudo}}</h4>

        <div class="pagePerso-contenu">
            <div class="mot-de-passe-oublie">
                <a href=" {{ path('forgotten_password') }} ">Mot de passe oublié ?</a>
            </div>

            <div class="infos-pagePerso">

                    <table>
                        {% if app.user.isAdmin() %}
                        <tr>
                            <td>
                                Rôle
                            </td>
                            <td>
                                {% for role in app.user.roles %}
                                    {% if role == 'ROLE_ADMIN' %}
                                        Administrateur 
                                    {% elseif role == 'ROLE_MEMBRE' %}
                                        Membre 
                                    {% elseif role == 'ROLE_USER' %}
                                        Utilisateur 
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                        {% endif %}

                        <tr>
                            <td>
                                Email
                            </td>
                            <td>
                                {{ app.user.email }}
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Nom
                            </td>
                            <td>
                                {% if app.user.nom %}
                                    {{ app.user.nom }}
                                {% else %}
                                    Non renseigné
                                {% endif %}
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Nom
                            </td>
                            <td>
                                {% if app.user.nom %}
                                    {{ app.user.nom }}
                                {% else %}
                                    Non renseigné
                                {% endif %}
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Préom
                            </td>
                            <td>
                                {% if app.user.prenom %}
                                    {{ app.user.prenom }}
                                {% else %}
                                    Non renseigné
                                {% endif %}
                            </td>
                        </tr>
                        
                        <tr>
                            <td>
                                Numéro de licence
                            </td>
                            <td>
                                {% if app.user.numLicence %}
                                    {{ app.user.numLicence }}
                                {% else %}
                                    Non renseigné
                                {% endif %}
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Numéro de téléphone
                            </td>
                            <td>
                                {% if app.user.numTelephone %}
                                    {{ app.user.numTelephone }}
                                {% else %}
                                    Non renseigné
                                {% endif %}
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Date de naissance
                            </td>
                            <td>
                                {% if app.user.dateNaissance %}
                                    {{ app.user.dateNaissanceFormatee }}
                                {% else %}
                                    Non renseigné
                                {% endif %}
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Adresse
                            </td>
                            <td>
                                {% if app.user.adresse %}
                                    {{ app.user.adresse }}
                                {% else %}
                                    Non renseigné
                                {% endif %}
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Ville
                            </td>
                            <td>
                                {% if app.user.ville %}
                                    {{ app.user.ville }}
                                {% else %}
                                    Non renseigné
                                {% endif %}
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Code Postal
                            </td>
                            <td>
                                {% if app.user.cp %}
                                    {{ app.user.cp }}
                                {% else %}
                                    Non renseigné
                                {% endif %}
                            </td>
                        </tr>

                    </table>
            </div>

            <div class="evenements-pagePerso">
                
                {% if app.user.photo %}
                    <div class="photo-pagePerso">
                        {{ app.user.photo }}
                    </div>
                {% endif %}

                {% if app.user.participationsEvenement|length > 0 %}
                    <h5>Inscrit aux événements :</h5>
                        <ul>
                            {% for participation in app.user.participationsEvenement %}
                                <li>
                                    <h6><a href=" {{ path('show_evenement', {'id': participation.inscriptions.id}) }} ">{{ participation.inscriptions.titre }}</a></h6>
                                    {{ participation.inscriptions.description }}<br>
                                    Du {{ participation.inscriptions.dateDebutFormatee }} à {{ participation.inscriptions.heureDebutFormatee }}<br>
                                    Au {{ participation.inscriptions.dateFinFormatee }} à {{ participation.inscriptions.heureFinFormatee }}<br>
                                </li>
                            {% endfor %}
                        </ul>
                {% else %}
                    Inscrit à aucun événement.
                {% endif %}
            </div>
        </div>
    </div>
{% else %}
    <div class="error">
        Page introuvable
    </div>
{% endif %}

{% endblock %}