{% extends 'base.html.twig' %}

{% block title %}Détails utilisateur{% endblock %}

{% block body %}

<div class="utilisateurs-container">
    <h4>Détails de {{ user.pseudo }} </h4>

        <p>Email : {{ user.email}} <br>
        Rôles : 
            {% for role in roles %}
                {{ role }}
            {% endfor %}
        </p>

        {% if user.membre %}
            <p>
                {{ user.membre.nom }}
                {{ user.membre.prenom }}
            </p>
        {% else %}
            <p>Utilisateur standard, aucune information supplémentaire</p>
        {% endif %}

</div>

{% endblock %}