{% extends 'base.html.twig' %}

{% block title %}
    {% if app.user  and app.user.isAdmin() %}
        Détails utilisateur
    {% else %}
        Page introuvable
    {% endif %}
{% endblock %}


{% block body %}

    {% if app.user  and app.user.isAdmin() %}
        <div class="utilisateurs-container">

            <h4>Détails de {{ user.pseudo }} </h4>

            <div class="utilisateur-content">
                <p>
                    Email : {{ user.email}}
                </p>
                <br>
                <p>
                    {% if user.roles|length == 1 %}
                        Rôle : 
                    {% else %}
                        Rôles : 
                    {% endif %}

                    {% for role in user.roles %}
                        {% if role == 'ROLE_ADMIN' %}
                            Administrateur
                        {% elseif role == 'ROLE_MEMBRE' %}
                            Membre 
                        {% elseif role == 'ROLE_USER' %}
                            Utilisateur
                        {% endif %}
                    {% endfor %}
                </p>
                <br>
                <p>
                    {% if user.participe|length == 1 %}
                        Inscrit à aucun événement.
                    {% elseif user.participe|length > 1 %}
                        Inscrit aux événements :
                        {% for evenementpresent in user.participe %}
                            <li>
                                <a href=" {{ path('show_evenement', {'id': evenementpresent.id}) }} ">{{ evenementpresent }}</a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </p>

                {% if user.membre %}
                    <br>
                    <p>
                        {{ user.membre.nom }}
                        {{ user.membre.prenom }}
                    </p>
                {% else %}
                    <br>
                    <p>Utilisateur standard, aucune information supplémentaire</p>
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="error">
            Page introuvable
        </div>
    {% endif %}

{% endblock %}